{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row mt-4">
        <div class="col-sm-2 mt-4">
            <div class="card text-center">
              <div class="card-header">
                  {{ date1|date:"d M" }}
              </div>
                  <div class="card-body">
                          {% for item in object_list %}
                          <br>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-primary">
                                {{ item.contractor }}
                                {{ item.city }}
                            </a>
                          <br>
                          <br>
                          {% endfor %}
                  </div>
              <div class="card-footer text-muted">
                Всего: 4
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}